<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid lg:grid-cols-2 gap-12">
    <div class="w-full">
      <div class="space-y-3">
        <h2
          class="text-3xl bg-clip-text bg-gradient-to-r from-purple-600 to-violet-400 text-transparent font-bold lg:text-4xl dark:text-white lg:mb-6">
          Skills
        </h2>
        <dl class="flex flex-col sm:flex-row gap-1 lg:pb-4">
          <dt class="min-w-60">
            <h3 class="text-base sm:text-lg font-semibold text-gray-300 dark:text-neutral-200">
              Design Tools:
            </h3>
          </dt>
          <dd class="min-w-70">
            <ul>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                Figma
              </li>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                InVision
              </li>
            </ul>
          </dd>
        </dl>

        <dl class="flex flex-col sm:flex-row gap-1">
          <dt class="min-w-60">
            <h3 class="text-base sm:text-lg font-semibold text-gray-300 dark:text-neutral-200">
              Development:
            </h3>
          </dt>
          <dd class="min-w-70">
            <ul>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                HTML
              </li>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                CSS
              </li>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                Bootstrap
              </li>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                Angular Frameworks
              </li>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                Ionic Frameworks (iOS & Android)
              </li>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                Jetpack Compose
              </li>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                Flutter
              </li>
            </ul>
          </dd>
        </dl>

        <dl class="flex flex-col sm:flex-row gap-1">
          <dt class="min-w-60">
            <h3 class="text-base sm:text-lg font-semibold text-gray-300 dark:text-neutral-200">
              Design Expertise:
            </h3>
          </dt>
          <dd class="min-w-70">
            <ul>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                UI/UX Design
              </li>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                Design Systems
              </li>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                Web and Mobile Design
              </li>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                Responsive Design
              </li>
            </ul>
          </dd>
        </dl>

        <dl class="flex flex-col sm:flex-row gap-1">
          <dt class="min-w-60">
            <h3 class="text-base sm:text-lg font-semibold text-gray-300 dark:text-neutral-200">
              Soft Skills:
            </h3>
          </dt>
          <dd>
            <ul>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                Strong communication
              </li>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                Hard Working
              </li>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                Attention to detail
              </li>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                Time management
              </li>
              <li class="me-1 text-sm after:content-[','] inline-flex items-center text-gray-400 dark:text-neutral-200">
                Can work under pressure
              </li>
            </ul>
          </dd>
        </dl>
        <div class="pt-8 space-y-6">
          <h2
            class="text-3xl bg-clip-text bg-gradient-to-r from-purple-600 to-violet-400 text-transparent font-bold lg:text-4xl dark:text-white lg:mb-6">
            Education
          </h2>
          <!-- Grid -->
          <div class="grid grid-cols-1 sm:grid-cols-1 gap-3">
            <div class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700">
              <h3 class="mb-1 text-sm text-gray-400 dark:text-neutral-400">
                2017 - 2021
              </h3>

              <p class="font-semibold sm:text-lg text-gray-300 dark:text-neutral-200">
                Bachelor of Science in Information Technology
              </p>

              <p class="mt-1 text-sm text-gray-400 dark:text-neutral-400">
                The University of Cebu Main Campus
              </p>
            </div>
          </div>
        </div>
        <!-- End Grid -->
      </div>
    </div>

    <div class="space-y-6">
      <h2
        class="text-3xl bg-clip-text bg-gradient-to-r from-purple-600 to-violet-400 text-transparent font-bold lg:text-4xl dark:text-white lg:mb-6">
        Work experience
      </h2>
      <div class="grow pb-4 group-last:pb-0">
        <p class="text-sm text-gray-400 dark:text-neutral-400">
          2022 - Present
        </p>

        <h3 class="text-base sm:text-lg font-semibold text-gray-300 dark:text-neutral-200">
          UI/UX Developer
        </h3>

        <p class="mt-1 text-sm text-gray-400 dark:text-neutral-400">
          The company is globally competitive outsourcing company providing
          clients with a wide range of low cost and high quality custom
          software solutions.
        </p>

        <ul class="list-disc ms-6 mt-3 space-y-1.5">
          <li class="ps-1 text-sm text-gray-400 dark:text-neutral-400">
            Designed template UIs and design systems in Figma.
          </li>
          <li class="ps-1 text-sm text-gray-400 dark:text-neutral-400">
            Proficient in HTML, CSS, Bootstrap, Jetpack Compose, Ionic Frameworks and Angular
            frameworks.
          </li>
          <li class="ps-1 text-sm text-gray-400 dark:text-neutral-400">
            Mobile Developer with mobile development experience converting UI/UX designs into cross-platform iOS and
            Android app using Ionic Framework.
          </li>
          <li class="ps-1 text-sm text-gray-400 dark:text-neutral-400">
            Converted UIs into responsive HTML and CSS with a mobile-first
            approach. Jetpack Compose UI for mobile devices.
          </li>
          <li class="ps-1 text-sm text-gray-400 dark:text-neutral-400">
            Ability to work independently and as part of a collaborative
            team.
          </li>
        </ul>
      </div>

      <div class="grow pb-8 group-last:pb-0 pt-12">
        <p class="text-sm text-gray-400 dark:text-neutral-400">
          2021 - 2022
        </p>

        <h3 class="text-base sm:text-lg font-semibold text-gray-300 dark:text-neutral-200">
          Software Developer
        </h3>

        <ul class="mt-3 space-y-1.5">
          <li class="ps-1 text-sm text-gray-400 dark:text-neutral-400">
            Develop a high-performance, cross-platform mobile application
            using Flutter. The project will involve creating a seamless and
            engaging user experience, leveraging Flutter's capabilities to
            build a responsive and visually appealing app that works
            flawlessly on both iOS and Android platforms.
          </li>
        </ul>
      </div>
    </div>
    <!-- End Icon Block -->
  </div>
  <!-- End Grid -->
</div>