<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-3xl mb-6 lg:mb-8">
        <h2
            class="bg-clip-text bg-gradient-to-r from-purple-600 to-violet-400 text-transparent font-semibold text-2xl md:text-4xl md:leading-tight">
            Contact me
        </h2>
    </div>
    <!-- End Title -->

    <!-- Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-10 lg:gap-x-16">
        <div class="md:order-2 border-b border-neutral-800 pb-10 mb-10 md:border-b-0 md:pb-0 md:mb-0">
            <div class="space-y-4">
                <div class="relative ms-4 border rounded-md">
                    <img class="w-full rounded-md" src="assets/media-img/team.png" alt="Prototype Image" />
                </div>
            </div>
        </div>
        <!-- End Col -->

        <div class="space-y-14">
            <!-- Item -->
            <p class="mt-1 ps-1 text-sm text-gray-400 dark:text-neutral-400">
                Let's Connect! If you have any questions, project ideas, or just
                want to say hello, feel free to reach out. I'm always open to new
                opportunities and collaborations. Looking forward to hearing from
                you!
            </p>
            <div class="flex gap-x-5">
                <svg class="shrink-0 size-6 text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z" />
                    <circle cx="12" cy="10" r="3" />
                </svg>
                <div class="grow">
                    <h4 class="text-gray-300 sm:text-lg font-semibold">Address:</h4>

                    <address class="mt-1 text-gray-400 dark:text-neutral-400 text-sm not-italic">
                        1026 V. Rama Avenue Guadalupe<br />
                        Cebu City
                    </address>
                </div>
            </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="flex gap-x-5">
                <svg class="shrink-0 size-6 text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                        d="M21.2 8.4c.5.38.8.97.8 1.6v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V10a2 2 0 0 1 .8-1.6l8-6a2 2 0 0 1 2.4 0l8 6Z" />
                    <path d="m22 10-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 10" />
                </svg>
                <div class="grow">
                    <h4 class="text-gray-300 sm:text-lg font-semibold">Email:</h4>

                    <a class="mt-1 text-gray-400 dark:text-neutral-400 text-sm hover:text-neutral-500 focus:outline-none focus:text-neutral-200"
                        href="#mailto:example@site.co" target="_blank">
                        blanesdouglas@gmail.com
                    </a>
                </div>
            </div>
            <!-- End Item -->

            <!-- Item -->
            <div class="flex gap-x-5">
                <svg class="shrink-0 size-7 text-neutral-500" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M22 12C22 6.47714 17.5229 1.99999 12 1.99999C6.47715 1.99999 2 6.47714 2 12C2 16.9913 5.65686 21.1283 10.4375 21.8785V14.8906H7.89844V12H10.4375V9.79687C10.4375 7.29062 11.9304 5.90624 14.2146 5.90624C15.3087 5.90624 16.4531 6.10155 16.4531 6.10155V8.56249H15.1921C13.9499 8.56249 13.5625 9.33333 13.5625 10.1242V12H16.3359L15.8926 14.8906H13.5625V21.8785C18.3431 21.1283 22 16.9913 22 12Z"
                        fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <div class="grow">
                    <h4 class="text-gray-300 sm:text-lg font-semibold">Facebook</h4>
                    <a class="mt-1 text-gray-400 dark:text-neutral-400 text-sm hover:text-neutral-500 focus:outline-none focus:text-neutral-200"
                        href="https://www.facebook.com/DouglasBlanes/" target="_blank">
                        Douglas F. Blanes Jr.
                    </a>
                </div>
            </div>
            <!-- End Item -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Grid -->
</div>